<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <picture class="img-fluid rounded b-shadow-a">
                      <source srcset="/public/images/testimonial-2.jpg" type="image/webp" />
                      <img src="/public/images/testimonial-2.webp" alt="" />
                    </picture>
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p>
                      <span class="title-s">Name: </span>
                      <span>Henrique Miguel</span>
                    </p>
                    <p>
                      <span class="title-s">Profile: </span>
                      <span>Student</span>
                    </p>
                    <p>
                      <span class="title-s">Email: </span>
                      <span>htmtotal@gmail.com</span>
                    </p>
                    <p>
                      <span class="title-s">Phone: </span>
                      <span>(+55) 11 97383-8033</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skill</p>
                <span>HTML</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 85%"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>CSS3</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>PHP</span> <span class="pull-right">50%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 50%"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>JAVASCRIPT</span> <span class="pull-right">65%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 65%"
                    aria-valuenow="65"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">About me</h5>
                </div>
                <p class="lead">
                  Hello, I am a 14-year-old residing in Brazil with a keen interest and proficiency in coding. My skills encompass a range
                  of programming languages, including MySQL, PHP, HTML, CSS, and JavaScript. Additionally, I am well-versed in utilizing
                  Microsoft Office tools for various tasks. Furthermore, I am adept at using GitHub for version control and collaborative
                  coding.
                </p>
                <p class="lead">
                  My enthusiasm for coding is evident in my dedication to continuous learning and exploration of the programming landscape.
                  I find great satisfaction in problem-solving through code and am always excited to take on new challenges.
                </p>
                <p class="lead">
                  In addition to my technical skills, I am fluent in English, both in written and spoken forms. I also have a passion for
                  teaching English, offering lessons to those seeking to enhance their language proficiency. This combination of technical
                  expertise and language proficiency allows me to engage in diverse projects and contribute effectively to a variety of
                  tasks.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
