<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">Services</h3>
          <p class="subtitle-a"></p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"
              ><i class="ion-chatbubble-working"></i
            ></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">English Teaching</h2>
            <p class="s-description text-center">
              As an English teacher, I specialize in helping individuals achieve
              fluency and confidence in spoken English. Whether you're a
              beginner or looking to refine your language skills, I offer
              personalized lessons to suit your needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-code-working"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Development</h2>
            <p class="s-description text-center">
              As a web developer, I specialize in creating impactful online
              experiences for businesses. If you're looking to establish or
              enhance your online presence, I can build a customized website
              tailored to your commerce needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-ios-person"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">My benefits</h2>
            <p class="s-description text-center">
              Despite my youth, I possess an open mind and have ample free time,
              allowing me the flexibility to contribute significantly to various
              tasks within your company. I am eager to engage in diverse
              responsibilities and bring a fresh perspective to the team.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
