<div
  class="section-counter paralax-mf bg-image"
  style="background-image: url(images/counters-bg.jpg)"
>
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <div class="counter-box">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-code"></i></span>
          </div>
          <div class="counter-num">
            <span class="s-description"
              >Proficient in coding with HTML, JavaScript, CSS, PHP, and MySQL,
              with a solid foundation in web development technologies.</span
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="counter-box pt-4 pt-md-0">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-social-github"></i></span>
          </div>
          <div class="counter-num">
            <span class="counter-text"
              >Skilled in utilizing GitHub for version control and collaborative
              coding. My GitHub profile is "ikezera".</span
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="counter-box pt-4 pt-md-0">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-social-windows"></i></span>
          </div>
          <div class="counter-num">
            <span class="counter-text"
              >Proficient in using Microsoft Office suite, including Word,
              Excel, and PowerPoint.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
